@font-face {
    font-family: "cabinet";
    src: url(./Assets/Fonts/CabinetGrotesk-Regular.ttf);
}
@font-face {
    font-family: "ruth";
    src: url(./Assets/Fonts/RuthlessWreckin2.ttf);
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    width: 100%;
    min-height: 110vh;
    font-size: 19px;
    transition: 0.25s;
}
body::-webkit-scrollbar{
    background: rgb(148, 141, 141);
    width: 8px;
   
 
}
        ::-webkit-scrollbar-thumb{
            background-color: rgb(255, 141, 100);
            border-radius: 40px;
            
        }




main {
    width: 100%;
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
    
}

header {
    width: 100%;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    position: sticky ;
    top: 0;
    z-index: 99;
   
}
header {
    display: flex;
    align-items: center;
   
}

header.active {
    max-width: 100%;
    background-color: white !important;
  
}

header .logo{
    font-family: "ruth";
    background-color: white;
    margin-left: 30px;
    z-index: 99;
    
}
header .logo img{
    height: 80px;
    margin-top: 30px;
}

.no-select {
    user-select: none;
}
header .logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "cabinet";
    font-size: 19px;
}

header .nav-link{
    padding: 10px 25px;
    border-radius: 40px;
    transition: 0.25s ease;
}
header .nav-link:hover{
    background-color: rgb(0, 0, 0);
}

header .first{
   background-color: #ffbe82;
   color: white;
}
header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav ul li{
    padding: 0 40px;
   
}

header nav ul li a{
   color: black; 
}
header nav ul li a:hover{
   color:white; 
}
.barmenu {  
    height: 35px;
    width: 35px;
    display: none;
}

.barmenu::before {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
    margin-bottom: 6px;
    transition: 0.4s;
}
.barmenu::after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
    /* margin-top: 6px; */
    transition: 0.4s;
}
.barmenu .bar {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #ffbe82;
    border-radius: 2px;
    margin-bottom: 6px;
    transition: 0.4s;
    margin-left: 10px;
    z-index:99;
}

.barmenu.active::before {
    transform: rotate(-45deg) translate(-6px, 6px);
    background-color: rgb(0, 0, 0);
}
.barmenu.active::after {
    transform: rotate(45deg) translate(-7px, -6px);
    background-color: #ffbe82;
}

.barmenu.active .bar {
    opacity: 0;
}

.nav2 {
    display: none;
}



.hero {
    width: 100%;
    height: 100%;
}

.heroContainer {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.heroContainer .left h1 {
    font-size: 4rem;
    background: -webkit-linear-gradient(45deg, #ffbe82 0%,#ffbe82 10%,rgb(0, 0, 0)80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;

}
.heroContainer .left {
    width: 100%;
    height:100%;
    margin-top: 200px;
    max-width: 800px;
    font-family:"cabinet";
   
     
}

.heroContainer .right img {
    width: 100%;
    max-width: 800px;
    height: 1000px;
    object-fit: cover;

}


.btn {
    margin-top: 120px;
    margin-left: 350px;
    
}
.btn button {
    font-family: 'cabinet';
    font-size: 20px;
    padding: 12px 30px;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.706);
    border: none;
    color: white;
    transition: 0.25s;
    
}

.btn button:hover {
    background-color: #ffbe82;
    scale:1.2;

} 

.btn2 {
    display: none;
}




footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'cabinet';
    height: 0;
    width: 0;
    font-size: 16px;
   
}


.footerContent.active {
    opacity: 1;
    transform: translateY(0);
    height: 130px;

}
.footerContent {
    background-color:  rgb(0, 0, 0);
    width: 100%;
  height: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform: translateY(100px);
    transition: 0.4s;
    z-index: 98;

   
    
}
.footerContent h2{
    text-align: center;
    margin-bottom: 20px;
    text-decoration:underline;
}


label{
    display: inline-block;
    vertical-align: center;
    margin: 0 20px;

   
}

.email, #phone, #facebook, #youtube, #titok {
    color: #ffbe82;
}
.stic {
    border-left: 6px solid #ffbe82;
    border-radius: 7px;
  
}









/* /* RESPONSIVE ACCEUIL *--------------------------------------------------------------*/


/* 2xl */

@media (max-width:1672px){
    header nav ul li{
        padding: 0 20px;
        transition: 0.25s;
       
    }
    
    
    
    .heroContainer .right img {
        height: 800px;
        transition: 0.25s;
    }
    .heroContainer .left{
        max-width: 450px !important;
        transition: 0.25s;
       
    }
    .heroContainer .left h1{
        font-size: 3rem;

    }

    .btn {
        margin-left: 280px;
        
    }
}


@media (max-width:1629px){
    .heroContainer .left h1{
        font-size: 3.5rem;

    }
    .heroContainer .left{
        max-width: 500px !important;
        transition: 0.25s;
        
    }

    .btn {
        margin-left: 280px;
        
    }
}

/* xl */
@media (max-width:1290px){
    header nav ul li{
        padding: 0 2px;
        transition: 0.25s;
       
    }

    .btn {
        margin-left: 200px;
        
    }
}
/* lg */
@media (max-width:1184px){
    .heroContainer .right img {
        height: 600px;
        transition: 0.25s;
    }

    .footerContent.active {
        height: 160px;
    
    }
    .footerContent h2, p {
        font-size:16px;
    }

    .heroContainer .left h1{
        font-size: 2.5rem;

    }
    .heroContainer .left{
        max-width: 350px !important;
        transition: 0.25s;
    
    }

    header nav ul li{
        padding: 0;
        transition: 0.25s;
       
    }
    .heroContainer .left{
        max-width: 300px !important;
        transition: 0.25s;
    
    }
    .heroContainer .left h1{
        font-size: 2rem;

    }

    .heroContainer .right img {
        height: 580px;
        transition: 0.25s;
    }
   

    .btn {
        margin-left: 130px;
        margin-top: 20px;
        
    }
    .btn button{
        font-size: 16px;
        padding: 10px 20px;
       
        
    }

    header {
        display: flex;
        flex-direction: column;
        transition: 0.25s;
        gap: 10px;
    }
}
@media (max-width:1024px){
  

}
/* md */
@media (max-width:840px){
    .heroContainer .left{
        max-width: 250px !important;
        transition: 0.25s;
    
    }
    .heroContainer .left h1{
        font-size: 1.5rem;

    }

    .heroContainer .right img {
        height: 550px;
        transition: 0.25s;
    }
    .btn {
        margin-left: 0;
        
        
    }
}


@media (max-width:812px){
    .footerContent.active {
        height: 190px;
        text-align: center;        
    }
   
}
@media (max-width:768px){
    .heroContainer .left{
        max-width: 250px !important;
        transition: 0.25s;
    
    }
    .heroContainer .left h1{
        font-size: 1.5rem;

    }

    .heroContainer .right img {
        height: 400px;
        transition: 0.25s;
    }
    header nav {
        scale:0.8;
    }
  
}


/* sm */
@media (max-width:702px){
    heroContainer .right img {
        height: 350px;
        transition: 0.25s;
    }

    .heroContainer .left{
        max-width: 100px !important;
        margin-top: 150px;
        transition: 0.25s;
    }
    
    .heroContainer .left h1{
        font-size: 1rem;
        text-align: end;  

    }

    header .logo {
        font-size: 18px;
        transition: 0.25s;
    }

    .btn button{
        font-size: 15px;
        padding: 12px ;
       
        
    }

    
    header {
        display: flex;
        flex-direction: row;
    }
    header nav{
        display: none;
    }
    .barmenu{
    display: inline-block;
    cursor: pointer;
    z-index: 99;
    
}

/* header.active {
    background-color: transparent !important;
} */


.nav2.active {
    opacity: 1;
    left: 0;

}


.nav2 {
    font-family: "cabinet";
    font-size: 19px;
    display: block;
    background-color: #ffffffde;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 100%;
    right: 0;
    top: 0;
    margin: 0 auto;
    text-align: center;
    padding-top:150px;
    transition: 0.4s;
    z-index: 98;
    opacity: 0;
    display: initial;
     
}

.nav2 a {
    display: block;
    color: rgb(255, 255, 255);
    background-color:#000000;
    border-radius: 0 30px 30px 30px;
    padding: 15px;
    width:100%;
    max-width:250px;
    margin-bottom: 50px !important;
    margin: 0 auto;
}

.nav2 a:hover {
    background-color: #ffbe82;
}
}


/* xs */
@media (max-width:560px){
    .footerContent.active {
        height: 190px;
        text-align: start;
        
    }

    .footerContent h2,p {
        font-size: 14px;
    }
}

@media (max-width:512px) {
    .footerContent h2,p,label {
        font-size: 10px;
    
    }
}
@media (max-width:475px){

    .heroContainer {
        display: flex;
        flex-wrap: wrap;
      }

      .heroContainer .left{
        max-width: 400px !important;
        margin-top: 40px;
        transition: 0.25s;
        text-align: center;
       
    }

      .heroContainer .left h1{
        font-size: 19px;
        text-align: center;  

    }

    .barmenu {
        scale: 0.6;
    }

    .heroContainer .right {  
        margin-left: 35px;

    }
    .heroContainer .right img{  
        height: 450px;
        transition: 0.25s;

    }
    .btn  {
        display: none;
        
        
    }
    
    .btn2 {
       
        display: inline-block;
        position: relative;
        bottom: 110px;
        display: flex!important;
        justify-content: center;
        align-items: center;
        margin-top: 120px;
        margin-right:43px ;
    
        
    }

    .btn2 button {
        font-family: 'cabinet';
        font-size: 16px;
        padding: 10px 30px;
        border-radius: 40px;
        background-color: rgb(20, 172, 231);
        border: none;
        color: white;
        transition: 0.25s;
        
    }
    
    .btn2 button:hover {
        background-color: rgb(255, 141, 100);
        /* scale:1.2; */
    
    } 

    header .logo img {
        height: 55px;
    }

    
}
@media (max-width:400px){

    .heroContainer .right img{  
        height: 350px;
        transition: 0.25s;

    }

    header .logo {
        font-size: 14px;
        transition: 0.25s;
    }

    .btn2{
        
    }
  
        
        


}

@media (max-width:394px){
    .footerContent h2,p,label {
        font-size: 8px;
        
    }

    .nav2 {
        font-size: 16px;
        padding-top: 130px;
       
    }
    .nav2 a {
        max-width:180px;
}
}
@media (max-width:320px){
    .heroContainer .right img{  
        height: 330px;
        transition: 0.25s;

    }
    .nav2 {
        font-size: 14px;
        padding-top: 80px;
    }
    .nav2 a {
        max-width:150px;
    
   


    header .logo {
        font-size: 10px;
        transition: 0.25s;
    }
   
    }

    @media (max-width:214px) {
            .btn2  button{
                font-size: 8px;
            }
    }




}







/*ABOUT US-----------------------------------------------------------*/


.main2 {
    display: flex;
    flex-direction: column;
    width:100%;
    background-image:url(./3.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-color:rgba(0, 0, 0, 0.86) ;
    background-blend-mode: multiply;
    min-height: 100vh;
    color: white;
    padding-bottom: 30px;

}

header.active {
    max-width: 100%;
    background-color: white !important;
    
  
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    font-family: "cabinet";
    gap: 40px;
    
}
.header h1{
    font-size:7rem;

}
.header h1::before{
    content: "";
    padding: 10px;
    border: 6px solid #ffbe82;
    border-radius: 30px;
   
}
.header p::after{
    content: "";
    border: 6px solid #ffbe82;
    position: relative;
    padding: 6px;
    left:8px;
    border-radius: 30px;

}

.header p{
    font-size:25px;
    line-height: 38px;
    width: 100%;
    height: 100%;
    max-width: 800px;
    text-align: justify;
   

}

.header .w {
    font-size: 3rem;
    color: rgb(255, 255, 255);
}
.header .a {
    font-size: 3rem;
    color: rgb(255, 255, 255);
}


/*RESPONSIVE ABOUT US--------------------------------------------------------------*/

/*2xl*/
@media (max-width:1536px){

}
/*xl*/
@media (max-width:1280px){
       
}
/*lg*/
@media (max-width:1052px){
    .main2 {
        background-size: contain;
        
    }
    .header h1{
        font-size: 5rem;
    }
    .header p{
        font-size: 20px;
        max-width: 700px;
        line-height: 27px;  
    }
    .header p::after{
        top: 15px;
    }
}
/*md*/
@media (max-width:816px){
        .header p{
            max-width: 500px;
        }
        .header h1{
           font-size: 3.5rem;
        }

        .main2 {
           background-size: cover;
        }
      
}
/*sm*/
@media (max-width:548px){
    .header p{
        max-width: 400px;
    }
}
/*xs*/
@media (max-width:438px){
    .header p{
        max-width: 340px;
    }
    .header{
        scale: 0.9;
    }
    .header{
        padding-top: 0;
    }
}

@media (max-width:390px){
    .header{
        scale: 0.9;
    }
}


@media (max-width:292px){
    .header h1 {
        font-size: 2.5rem;
    }
}