#slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
  }
  
  .slide {
    display: none;
  }
  
  img {
    width: 100%;
  }
  
  .fade {
    animation: fade 2s ease infinite;
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }